<!--
Create a folder, put in logo.png and logo_mod.jpg.
Navigate to that folder in command line and start a web server:
    python3 -m http.server
Then open localhost:8000/drawqr.html
-->

<style type="text/css">
canvas {
    border: 1px solid black;
}
</style>

<canvas id="canvas"></canvas>

<br />
<textarea id="input"></textarea>
<br />
<button onclick="draw()">draw</button>

<script>
var canvas = document.querySelector("#canvas");
var ctx = canvas.getContext("2d");

var inputEl = document.querySelector("#input");

function drawPixel(x, y, color) {
    ctx.fillStyle = color;
    ctx.fillRect(8*x, 8*y, 8*(x+1), 8*(y+1));
}

function draw() {
    var input = inputEl.value.split("\n");
    var input_clean = [];
    var width = input[0].length, height = input.length;
    canvas.width = 8 * width;
    canvas.height = 8 * height;

    for (var i = 0; i < input.length; i++) {
        for (var j = 0; j < input[i].length; j++) {
            if (input[i][j] === "1") {
                drawPixel(j, i, "#000000");
            } else {
                drawPixel(j, i, "#FFFFFF");
            }
        }
    }
}
</script>
