<!--
Create a folder, put in logo.png and logo_mod.jpg.
Navigate to that folder in command line and start a web server:
    python3 -m http.server
Then open localhost:8000/nice.html
-->

<style type="text/css">
canvas {
    border: 1px solid black;
    width: 320px;
    height: 320px;
}
</style>

<canvas id="one" width="640" height="640"></canvas>
<canvas id="two" width="640" height="640"></canvas>
<canvas id="three" width="640" height="640"></canvas>

<br />
<button onclick="subtract()">subtract</button>

<script>
var canvasOne = document.querySelector("#one");
var ctxOne = canvasOne.getContext("2d");

var canvasTwo = document.querySelector("#two");
var ctxTwo = canvasTwo.getContext("2d");

var canvasThree = document.querySelector("#three");
var ctxThree = canvasThree.getContext("2d");

var imageOne = new Image();
imageOne.src = "logo.png";
imageOne.onload = function() {
    ctxOne.drawImage(imageOne, 0, 0);
};

var imageTwo = new Image();
imageTwo.src = "logo_mod.jpg";
imageTwo.onload = function() {
    ctxTwo.drawImage(imageTwo, 0, 0);
};

function subtract() {
    var id1 = ctxOne.getImageData(0, 0, 640, 640);
    var id2 = ctxTwo.getImageData(0, 0, 640, 640);

    for (var i = 0; i < id2.data.length; i += 4) {
        var diffs = [0, 0, 0]; // diffs in R, G, B channels
        for (var j = 0; j < 3; j++) {
            diffs[j] = 1 * (id1.data[i+j] - id2.data[i+j]);
        }

        id2.data[i+0] = 255 * (diffs[0] > 1);
        id2.data[i+1] = 255 * (diffs[1] > 1);
        id2.data[i+2] = 255 * (diffs[2] > 1);
    }
    ctxThree.putImageData(id2, 0, 0);
}
</script>
